@import './Variables.scss';

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 15rem;
  border: solid 1px black;
  padding: 1rem;
  margin: 1rem;

  .product__buttonDiv {
    display: flex;
    justify-content: flex-end;

    .product__button {
      padding: .4rem;
      border: 2px solid $charcoal;
      border-radius: 5px;
      margin: .1rem;
    }

    .product__button:hover {
      cursor: pointer;
    }

    .product__button--buyNow {
      background-color: rgba(190, 229, 165, 0.505);
      color: $charcoal;
    }

    .product__button--addToCart {
      width: 1.5rem;
      height: 1.5rem;
      background-color: rgba(246, 238, 176, 0.506);
    }
  }  

  .product__addingToCart {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10rem;
    height: 10rem;
    background-color: $mistyRose;
    border: solid 2px $charcoal;

    .product__additionContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .product__amountChange {
        padding: .2rem;
        width: 2.5rem;
        font-size: 1rem;
        background-color: $englishViolet;
        color: white;
        border: solid 1px $charcoal;
      }
      .product__amountChange:hover {
        cursor: pointer;
      }
    }

    .product__confirmContainer {
      display: flex;
      justify-content: space-around;

      .product__confirmCartAdd {
        width: 2rem;
        height: 2rem;
      }
      
      .product__cancelCartAdd {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .product__noUser {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 20rem;
    width: 20rem;
    border: solid 2px black;
    background-color: $register;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
  }
}