@import './Variables.scss';

.register {
  width: 100%;
  display: flex;
  flex-direction: column;

  .register__title {
    align-self: center;
    margin: 2rem 0 1rem 0;
    font-size: 3rem;
  }

  .register__label {
    margin-top: 1.5rem;
    align-self: center;
  }

  .register__input {
    width: 20%;
    height:2rem;
    align-self: center;
    font-size: 1rem;
    border: solid 2px black;
    border-radius: 5px;
    padding: .1rem;
  }

  .register__button {
    font-size: 1rem;
    padding: .5rem;
    align-self: center;
    border: solid 2px black;
    border-radius: 10px;
    margin: 1rem;
  }

  .register__alternative {
    align-self: center;
    margin-top: 2rem;
  }

  .register__button--confirm {
    background-color: rgb(134, 241, 134);
  }

  .register__button--login {
    background-color: rgb(109, 167, 214);
    color: rgb(0, 0, 0);
  }
}