$blackShadows: #C2B2B4;
$englishViolet: #6B4E71;
$charcoal: #3A4454;
$darkElectricBlue: #53687E;
$mistyRose: #F5DDDD;
$login: rgb(107, 159, 85);
$register: rgb(193, 165, 5);
$logout: rgb(225, 82, 82);
